# Variables File

variable "backend_bucket" {
  default = "{{ backend_bucket }}"
}
variable "aws_region" {
  default = "{{ aws_region }}"
}
variable "pub_key" {
  default = "{{ pub_key }}"
}
variable "aws_az" {
  default = "{{ aws_az }}"
}
variable "aws_instance_type" {
  default = "{{ aws_instance_type }}"
}